@layer theme, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import './global-vars.css';

* {
  font-family: 'system-ui';
}

html,
body {
  margin: 0;
  background: var(--gradient-bg);
  cursor: none !important;
}
